.background {
  background-color: #252323;
  border-radius: 20px;
  padding: 30px;
}

.blurtext{
  position: relative;
  font-size: 4rem;
  color: rgba(86, 86, 80, 0.378);
  font-weight: 1000;
  text-wrap: nowrap;
}
.about-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-weight: 1000;
  padding: 1rem 0 0 1rem ;
}

.about-hz {
  margin-top: -0.7rem;
  margin-left: 1rem;
  width: 100px;
  height: 4px;
  border: none;  
  border-radius: 10px; 
  background-color: hsl(54, 100%, 50%);
}

.about-para {
  font-size: 1.1rem;
}

.about-doing {
  
  font-size: 1.8rem;
  border-bottom: 1px solid rgba(162, 158, 158, 0.642);
}

.about-work {
  max-width: 45%;
  height: 150px;
  background-color: hsla(0, 4%, 19%, 0.485);
  border-radius: 20px;
  margin: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  border-bottom: 2px solid grey;
}
.about-work:hover{
  opacity: 0.5;
  transform: translateY(-3px);
  transition: 0.1s ease-in-out;
}

.about-work-img {
  height: 40px;
  margin: 20px;
}

.about-work-p1 {
  font-size: 1.5rem;
  font-weight: 1000;
  color: lightblue;
}

.about-work-p2 {
  font-size: 1rem;
}

.mail{
  background-color: hsl(54, 53%, 38%);
  font-size: 1.2rem;
  font-weight: 1000;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  letter-spacing: 2px;
  border: none;
  transition: opacity 0.1s ease-in-out;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    opacity: 0.5;
  }
}

@media (max-width: 1000px) {
  .about-work {
    max-width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-work-img {
    margin: 20px auto;
  }
}
